nav{
    background-color: #434750;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    color: white;
}

nav button{
    border: none;
    padding: 10px 14px;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
}
nav button:hover{
    background-color: grey;
    color: white;

}